@media (max-width: 1024px) {
    .custom-width {
      width: calc(100vw - 10rem);
    }
  }
@media (max-width: 645px) {
    .custom-width {
      width: calc(100vw - 6rem);
    }
  }
  
@media (max-width: 525px) {
    .custom-width {
      width: calc(100vw - 3rem);
    }
  }

  @media (min-width: 1025px) {
    .custom-width {
      width: calc(100vw - 30rem);
    }
  }
  